*.gem
.bundle
vendor/bundle
pkg/*
.vagrant
bin/*
files/**/cache/
vendor/cookbooks
.ruby-gemset
.rvmrc
.rbenv-version
build.txt
Vagrantfile
.idea
.vscode
*.log
docker/RELEASE
*.swp
tags
*.tags
gitlab-licenses/*
public/*
config/projects/simple.rb
