{
  "lib/*.rb": {
    "alternate": "spec/lib/{}_spec.rb",
    "type": "source"
  },
  "spec/lib/*_spec.rb": {
    "alternate": "lib/{}.rb",
    "type": "test",
    "dispatch": "bundle exec rspec {file}"
  }
}
