# When adding a group as a code owner, make sure to invite the group to the
# project here: https://gitlab.com/gitlab-org/omnibus-gitlab/-/project_members
# As described in https://docs.gitlab.com/ee/user/project/code_owners.html

[Documentation]
.markdownlint.yml @marcel.amirault @eread @aqualls @cnorris
/doc/.vale/ @marcel.amirault @eread @aqualls @cnorris
/doc/ @axil
