[Unit]
Description=GitLab Runit supervision process
ConditionPathExists=/opt/gitlab/

[Service]
ExecStart=/opt/gitlab/embedded/bin/runsvdir-start
Restart=always
